.product {
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 24px rgba(27, 83, 116, 0.116);
  overflow: hidden;
}

.product:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
}

.product__image {
  width: 100%;
}

.product__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.product__name {
  color: #333;
  text-transform: capitalize;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product__price {
  font-weight: bold;
  color: #333;
}

.product__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: auto;
  border: none;
  border-radius: 24px;
  padding: 8px;
  background-color: #ececec;
  color: rgb(29, 88, 104);
}

.product__button:hover {
  background-color: #4a4c4d7e;
  color: #ffffff;
}
